In [2]:
import math
import random
import numpy as np

In [3]:
random.random()

0.8444837340438173

In [4]:
X = [ 1.8, 1.7, 1.6, 1.6, 1.7, 1.55, 1.91, 1.8, 1.6, 1.77, 1.78, 1.79 ]

In [5]:
X = np.array(X)

In [6]:
%%time
np.mean(X)

CPU times: user 65 μs, sys: 4 μs, total: 69 μs
Wall time: 72.2 μs

np.float64(1.7166666666666668)

In [7]:
%%time
np.median(X)

CPU times: user 5.45 ms, sys: 2.05 ms, total: 7.5 ms
Wall time: 7.22 ms

np.float64(1.7349999999999999)

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('wealth_income_dataset.csv')
df.head()

     Income     Wealth  Age     Education Employment_Status
0  69102.58  640831.61   47   High School          Employed
1  75282.09  300605.21   37      Master's        Unemployed
2  36924.99  281367.33   49  Some College          Employed
3  95439.82  845197.71   62    Bachelor's          Employed
4  47825.32  354803.81   36  Some College          Employed

In [17]:
#

In [23]:
df["Income"].mean()

np.float64(55124.55072380999)

In [24]:
df["Wealth"].mean()

np.float64(343785.0316191401)

In [25]:
df["Income"].median()

np.float64(46074.369999999995)

In [26]:
df["Wealth"].median()

np.float64(251173.265)