# overskrift

jeg prøver at opstille en model, som fremviser en sammenhæng mellem INPUT og mpg (y).

1. x (weight, model year, acceleration) og y (mpg)
2. x (displacement, weight, acceleration) og y (mpg)
3. x (displacement, weight, acceleration, cylinders, horsepower) og y (mpg)

## overvejelser

"model year" giver ikke et ret relevant værdi, så det kan vi droppe.
- derfor er #1 ude

"car name" har alt for mange unikke værdier, til det giver mening at arbejde med den.

"origin" er hvor bilen er fra, hvilke ikke spiller nogle rolle i denne

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
df = pd.read_csv("cars.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

we need to clearn up the data 
- (horsepower have 2 missing values)
- vi beholder kun det data vi har tænker om at bruge (så fjern model year, origin, car name)

In [3]:
cols_to_drop = ["origin", "car name", "model year"]
df = df.drop(columns=cols_to_drop)
df.head()

    mpg  cylinders  displacement horsepower  weight  acceleration
0  18.0          8         307.0        130    3504          12.0
1  15.0          8         350.0        165    3693          11.5
2  18.0          8         318.0        150    3436          11.0
3  16.0          8         304.0        150    3433          12.0
4  17.0          8         302.0        140    3449          10.5

In [4]:
# TODO - gør noget ved de 2 horse power værdier

# mål / spørgsmål

1. kan man forudsige mpg, ud fra (displacement, weight, acceleration)
2. kan man forudsige mpg, ud fra (displacement, cylinders, displacement, weight, acceleration)

In [5]:
# opdel vores data i 3 grupper - train, val, test

#(ds_test, ds_val, ds_train), ds_info = tfds.load(
#    'mnist',
#    split=['test', 'train[0%:17%]', 'train[17%:]'],
#    shuffle_files=True,
#    as_supervised=True,
 #   with_info=True,
#)
#

# def dataHandler (ds):

In [6]:
#

In [7]:
m = len(df)
split_train = int(m * 0.7)
split_val = int(m * 0.15) + 1 # vi mistet 2
split_test = int(m * 0.15) + 1 # vi mistet 2 

print("full count:", m)
print("------")
print("train count", split_train)
print("val count", split_val)
print("test count", split_test)

print("check full sum", split_train + split_val + split_test)

# TODO - du fjerner 2 rows senere grundet cleanup, så kan være du skal omskrive denne celle.
# TODO - du skulle virkelige lave en form for blanding i starten af dette, så datasættet bliver lidt anderledes (med til bevise din model virker)

full count: 398
------
train count 278
val count 60
test count 60
check full sum 398

som vi kan se er vores data sæt meget lille, så vi kan komme ud fra nogle problemer.
vi skal holde øje med at værdierne